server/config/node-red-flows.json
[
    {
        "id": "sf-flow-main",
        "type": "tab",
        "label": "SmartFarm DakLak - Soil Data",
        "disabled": false,
        "info": "Main data pipeline: MQTT → Decode → InfluxDB → Dashboard"
    },
    {
        "id": "mqtt-in-chirpstack",
        "type": "mqtt in",
        "z": "sf-flow-main",
        "name": "ChirpStack MQTT",
        "topic": "application/#",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 200,
        "wires": [["decode-soil"]]
    },
    {
        "id": "decode-soil",
        "type": "function",
        "z": "sf-flow-main",
        "name": "Decode Soil Sensor",
        "func": "// Decode ChirpStack payload for soil multi-parameter sensor\n// Registers: Temp, Moisture, EC, Salinity, N, P, K, pH\n\ntry {\n    let payload = msg.payload;\n    \n    // Get raw data from ChirpStack\n    let data = payload.object || payload;\n    let devEUI = payload.devInfo?.devEUI || payload.devEUI || 'unknown';\n    let timestamp = payload.time || new Date().toISOString();\n    \n    // If data is base64 encoded, decode it\n    let rawData = data;\n    if (typeof data.data === 'string') {\n        // base64 decoded by codec\n        rawData = data;\n    }\n    \n    // Build sensor reading\n    let reading = {\n        device: devEUI,\n        timestamp: timestamp,\n        temperature: parseFloat(rawData.temperature) || 0,\n        moisture: parseFloat(rawData.moisture || rawData.humidity) || 0,\n        ec: parseInt(rawData.ec || rawData.ecValue) || 0,\n        salinity: parseInt(rawData.salinity) || 0,\n        nitrogen: parseInt(rawData.nitrogen || rawData.n) || 0,\n        phosphorus: parseInt(rawData.phosphorus || rawData.p) || 0,\n        potassium: parseInt(rawData.potassium || rawData.k) || 0,\n        ph: parseFloat(rawData.ph || rawData.pH) || 0\n    };\n    \n    msg.payload = reading;\n    return [msg, null];\n    \n} catch (e) {\n    node.error('Decode error: ' + e.message, msg);\n    return [null, msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [["influxdb-write", "debug-output"], ["error-log"]]
    },
    {
        "id": "influxdb-write",
        "type": "influxdb out",
        "z": "sf-flow-main",
        "influxdb": "influxdb-conn",
        "name": "Write to InfluxDB",
        "measurement": "soil",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "x": 650,
        "y": 180,
        "wires": []
    },
    {
        "id": "debug-output",
        "type": "debug",
        "z": "sf-flow-main",
        "name": "Sensor Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 640,
        "y": 240,
        "wires": []
    },
    {
        "id": "error-log",
        "type": "debug",
        "z": "sf-flow-main",
        "name": "Decode Errors",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 630,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "SmartFarm MQTT",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-smarfarm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "influxdb-conn",
        "type": "influxdb",
        "hostname": "influxdb",
        "port": "8086",
        "protocol": "http",
        "dbname": "soil_data",
        "name": "SmartFarm InfluxDB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "sf-flow-modbus",
        "type": "tab",
        "label": "Direct Modbus (bypass ChirpStack)",
        "disabled": false,
        "info": "Read sensor directly via RS485-TCP bridge (alternative path)"
    },
    {
        "id": "modbus-poll",
        "type": "inject",
        "z": "sf-flow-modbus",
        "name": "Poll every 30s",
        "props": [{"p": "payload"}],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 200,
        "wires": [["modbus-read"]]
    },
    {
        "id": "modbus-read",
        "type": "modbus-flex-getter",
        "z": "sf-flow-modbus",
        "name": "Read 8 Registers (0x0000)",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "unitid": "2",
        "command": "readHoldingRegisters",
        "address": "0",
        "quantity": "8",
        "ioFile": "",
        "ioFileConfig": [],
        "adrOffset": 0,
        "server": "modbus-server",
        "useIOFile": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 400,
        "y": 200,
        "wires": [["modbus-decode"], []]
    },
    {
        "id": "modbus-decode",
        "type": "function",
        "z": "sf-flow-modbus",
        "name": "Decode Modbus RTU",
        "func": "// Decode 8 registers from soil sensor\n// Register order: Temp, Moisture, EC, Salinity, N, P, K, pH\n\nlet regs = msg.payload;\n\nif (!regs || regs.length < 8) {\n    node.error('Expected 8 registers, got ' + (regs ? regs.length : 0));\n    return null;\n}\n\n// Temperature: signed, ÷10\nlet rawTemp = regs[0];\nlet temp = rawTemp > 0x7FFF ? -(0xFFFF - rawTemp + 1) / 10.0 : rawTemp / 10.0;\n\nmsg.payload = {\n    device: 'soil-sensor-01',\n    timestamp: new Date().toISOString(),\n    temperature: temp,\n    moisture: regs[1] / 10.0,\n    ec: regs[2],\n    salinity: regs[3],\n    nitrogen: regs[4],\n    phosphorus: regs[5],\n    potassium: regs[6],\n    ph: regs[7] / 10.0\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 200,
        "wires": [["modbus-influx", "modbus-debug"]]
    },
    {
        "id": "modbus-influx",
        "type": "influxdb out",
        "z": "sf-flow-modbus",
        "influxdb": "influxdb-conn",
        "name": "Write to InfluxDB",
        "measurement": "soil",
        "precision": "",
        "retentionPolicy": "",
        "database": "",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "x": 900,
        "y": 180,
        "wires": []
    },
    {
        "id": "modbus-debug",
        "type": "debug",
        "z": "sf-flow-modbus",
        "name": "Modbus Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "modbus-server",
        "type": "modbus-client",
        "name": "E90-DTU via RS485-TCP",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.100",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB0",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialParity": "none",
        "serialStopbits": "1",
        "serialPortAutoDetect": "",
        "unit_id": "2",
        "commandDelay": "100",
        "reconnectOnTimeout": true,
        "reconnectTimeout": "1000",
        "connectTimeout": "5000"
    },
    {
        "id": "sf-flow-control",
        "type": "tab",
        "label": "SmartFarm - Actuator Control",
        "disabled": false,
        "info": "Handle irrigation control commands from Smart Control service"
    },
    {
        "id": "mqtt-control-sub",
        "type": "mqtt in",
        "z": "sf-flow-control",
        "name": "Control Commands",
        "topic": "application/smartfarm-daklak/device/actuator/+/command",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [["control-process", "control-log"]]
    },
    {
        "id": "control-process",
        "type": "function",
        "z": "sf-flow-control",
        "name": "Process Control Command",
        "func": "// Process actuator control command\n// In production, this would send downlink to ChirpStack\n// which forwards via LoRa to the E90-DTU node\n\nlet cmd = msg.payload;\nlet response = {\n    actuatorId: cmd.actuatorId,\n    type: cmd.type,\n    action: cmd.action,\n    source: cmd.source,\n    status: 'acknowledged',\n    timestamp: new Date().toISOString()\n};\n\n// Log the command\nnode.log(`Control: ${cmd.actuatorId} → ${cmd.action} (source: ${cmd.source})`);\n\n// In production:\n// 1. Encode command as Modbus RTU write\n// 2. Send via ChirpStack downlink to target DTU\n// 3. DTU writes to actuator via RS485\n\nmsg.payload = response;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 200,
        "wires": [["control-debug"]]
    },
    {
        "id": "control-log",
        "type": "debug",
        "z": "sf-flow-control",
        "name": "Control Commands Log",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "control-debug",
        "type": "debug",
        "z": "sf-flow-control",
        "name": "Control Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 680,
        "y": 200,
        "wires": []
    }
]
